Backup_2025-10-01/My workflow 43.json
 {
  "createdAt": "2025-09-25T08:35:50.474Z",
  "updatedAt": "2025-09-25T08:45:46.000Z",
  "id": "J6ez8CjPkBcOkhhh",
  "name": "My workflow 43",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        -60
      ],
      "id": "fab31071-5a8b-467f-9689-59f90c2b52fd",
      "name": "When chat message received",
      "webhookId": "e5df600e-6d15-46d5-bb10-2c667dc62fe4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "id": "4af9de02-0ba9-4d7a-b59a-d8ec6293804a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -340,
        120
      ],
      "id": "a9a83df8-6b1e-41cc-bd95-e1b3730be62b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uVuI5GtGYr0suRcM",
          "name": "OpenAi account 2 test"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{$json.sessionId}} {{$json.chatId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        140
      ],
      "id": "cf86287f-66c2-4d02-abe9-24b8386d84a0",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0705e20d-fd1c-4d6f-b862-04abb576c5aa",
  "triggerCount": 1,
  "tags": []
}