Backup_2025-10-01/My workflow 27.json
 {
  "createdAt": "2025-06-25T06:51:42.016Z",
  "updatedAt": "2025-06-26T06:18:52.000Z",
  "id": "XqSA4pXE2nqtr9WZ",
  "name": "My workflow 27",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "eed4bb85-41ab-4660-99cf-ebcff251e8cd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -740,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "b33b50f8-2228-4099-a5ce-3b0f7834c291",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        40
      ]
    },
    {
      "parameters": {},
      "id": "ce291761-a0eb-435c-9c44-2fb30dc706c9",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -600,
        400
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "OppxKTuR17k2wxru",
          "name": "Postgres account 7"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "8f233381-b118-4139-98e6-55d3f2eb2da5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "01e2bf14-7302-485f-9315-1bf6b60c3af8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "539c908b-42cb-4fb0-84ab-03dbc3632074",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI assistant specialized in helping users find nursery and landscaping products from SiteOne.\n\nYour knowledge comes from structured data stored in the siteone table in Supabase.\n\nSiteOne products are organized primarily under these fields:\n\nlevel1_taxonomy, level2_taxonomy, level3_taxonomy (for hierarchical category classification)\n\nfinaldescription (product name or label)\n\nbrandname, producttype, productlinedesc (optional filtering by brand or line)\n\n User Query Understanding\n0. ✋ Greetings or General Intent\nIf the user says:\n\n\"Hi\", \"Hello\", \"I want to buy some products\", \"Find some products\", etc.\n\n🎯 Respond with a list of top-level categories they can choose from, such as:\nPlease select a category to explore:\n- Lighting\n- Irrigation\n- Agronomic Maintenance\n- Landscape Supply\n- Hardscapes & Outdoor Living\n\nIf the user selects or types a top-level category (e.g., “Landscape Supply”, “Irrigation”), directly search for that value in level1_taxonomy without asking for subcategories.\n\n🎯 User Query Understanding\n1. General Category Queries\nIf the user gives a general request like:\n\n“I need nursery plants”\n\n“Show me special order products”\n\n“What do you have in evergreen trees?”\n\n👉 Match these keywords to the relevant taxonomy levels (start with level1_taxonomy ).\n\nReturn:\n\nskuid, finaldescription, description, price, product_url, image\n\nSQL Template Example:\nSELECT skuid, finaldescription, description, price, product_url, image\nFROM siteone_new\nWHERE level1_taxonomy ILIKE '%nursery%'\nLIMIT 3;\n\n🔍 3. Application or Use Case Queries\nIf the user describes a goal, application, or use case, such as:\n\n“I need something for drainage”\n“Looking for erosion control”\n“Need a product for weed suppression”\n“What can I use for planting beds?”\n\n🎯 Search in the description column using ILIKE '%<user_input>%'\n\nSELECT skuid, finaldescription, description, price, product_url, image\nFROM siteone_new\nWHERE description ILIKE '%<keywords>%'\nLIMIT 3;\n\n\nWhen displaying product results, format each product in the following multi-line style:\nProduct: <finaldescription>  \nPrice: $<price>  \nProduct Link: <product_url>  in the link format\nimage(open it directly instead of normal text )\n\n\n2. Specific Product Name Queries\nIf the user specifies a product name (e.g., “Ptychosperma Elegans” or “18' palm tree”), match it against:\n\nfinaldescription ILIKE '%<user_input>%'\n\nReturn all columns for matching records.\n\nSQL Template Example:\nSELECT *\nFROM siteone_new\nWHERE finaldescription ILIKE '%elegans%'\nLIMIT 3;\n\nIf no relevant products are found, respond with:\n“I’m sorry, I couldn’t find any products matching your query in the siteone product cataloge”\nIf the user asks for human support or the query is unrelated/missed, respond with:\n\"It seems I couldn't assist with that. For further help, please contact:\n📞 Toll‑Free: 1-800-748-3663\n🏢 Address: SiteOne Landscape Supply, 300 Colonial Center Parkway, Suite 600, Roswell, GA 30076, USA\n🌐 Website:  [https://www.siteone.com](https://www.siteone.com)\n"
        }
      },
      "id": "f8f31ec1-2f80-4945-9bd9-7b208086773e",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -520,
        180
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -460,
        400
      ],
      "id": "041df364-c57f-44ff-821c-c6024efcacb3",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "OppxKTuR17k2wxru",
          "name": "Postgres account 7"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -320,
        400
      ],
      "id": "10812311-85ef-4e12-8030-0acf3f015c0f",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "OppxKTuR17k2wxru",
          "name": "Postgres account 7"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=You are an AI assistant specialized in helping users find nursery and landscaping products from SiteOne.\n\nYour knowledge comes from structured data stored in the siteone_new table in Supabase.\n\nSiteOne products are organized primarily under these fields:\n\nlevel1_taxonomy, level2_taxonomy, level3_taxonomy (for hierarchical category classification)\n\nfinaldescription (product name or label)\n\nbrandname, producttype, productlinedesc (optional filtering by brand or line)\n\n🎯 User Query Understanding\n1. General Category Queries\nIf the user gives a general request like:\n\n“I need nursery plants”\n\n“Show me special order products”\n\n“What do you have in evergreen trees?”\n\n👉 Match these keywords to the relevant taxonomy levels (start with level1_taxonomy ).\n\nReturn:\n\nskuid, finaldescription, description, price, product_url, image\n\nSQL Template Example:\nSELECT skuid, finaldescription, description, price, product_url, image\nFROM siteone_new\nWHERE level1_taxonomy ILIKE '%nursery%'\nLIMIT 3;\n\n2. Specific Product Name Queries\nIf the user specifies a product name (e.g., “Ptychosperma Elegans” or “18' palm tree”), match it against:\n\nfinaldescription ILIKE '%<user_input>%'\n\nReturn all columns for matching records.\n\nSQL Template Example:\nSELECT *\nFROM siteone_new\nWHERE finaldescription ILIKE '%elegans%'\nLIMIT 3;\n",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -160,
        400
      ],
      "id": "866c9bf7-3b3f-4eee-8be0-cba7b2fccd58",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "OppxKTuR17k2wxru",
          "name": "Postgres account 7"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "31816095-8d77-45ed-a299-cf0d31077138",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "e7A13j05yIr5nwyM",
          "name": "Supabase account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        360
      ],
      "id": "92f4f2d0-75be-4dfb-8d6d-481b90e0243c",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1000,
        180
      ],
      "id": "f10f04fe-fc36-4a16-9e14-cd8c2d0461c2",
      "name": "When chat message received",
      "webhookId": "062da688-88bc-4b33-8c57-b8a7be2e2b65"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "326b3918-52df-42d9-be41-3ed994ec6062",
  "triggerCount": 1,
  "tags": []
}