Backup_2025-10-01/n8n_API_example.json
 {
  "createdAt": "2025-08-14T05:16:36.919Z",
  "updatedAt": "2025-08-27T16:15:06.000Z",
  "id": "91qB9ezu35rYSduJ",
  "name": "n8n_API_example",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        -60
      ],
      "id": "90758a34-d0e9-4ab5-b692-6a2c33c86716",
      "name": "When chat message received",
      "webhookId": "e0b30e3c-8b96-4b27-9d2a-710390172f5f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are an IT Helpdesk AI Assistant.\nFollow these steps for every user request:\n\nClassify the issue: Categorize the user’s issue into one of the following categories:\n\nNetwork Issue\n\nHardware Issue\n\nSoftware Bug\n\nAccess Request\n\nPassword Reset\n\nOther\n\nRespond with the chosen category.\nAlways perform RAG search first .\nFind the solution first in the RAG vector store .\n\n\nEscalation condition:\n\nIf the user later replies with something like “issue not resolved”, “still facing problem”, or similar, you must escalate.\n\nEscalation means sendind the isuue to the http request node . \n\nthe node will send email to IT support team and also generate ticket . send that ticket to the user back .\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        -40
      ],
      "id": "c39d0475-2bb6-4c38-b753-3ff697588c2e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        160
      ],
      "id": "e20d4fdb-0fc1-43ac-a93f-ef2b15a8efe3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        180
      ],
      "id": "92a7427e-e3fd-4e95-a01d-3f7c57669612",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://35.209.52.119:8015/escalate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "issue",
              "value": "User cannot access VPN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        480,
        180
      ],
      "id": "9630b9a3-88a0-4dec-a8c1-990232462077",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents_ticket",
          "mode": "list",
          "cachedResultName": "documents_ticket"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents_ticket"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        580,
        60
      ],
      "id": "edcfa0c1-e195-491d-acb0-5bb306f06bbb",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "jK39MwXl63HJbo3V",
          "name": "iksula_hr_doc"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        220
      ],
      "id": "d73e92d1-e5ee-444f-9118-810b50005057",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "667d2c80-538b-41aa-ae7a-62dcb1d68690",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        100
      ],
      "id": "14efdb02-0389-41e0-a2e6-5da4846024b6",
      "name": "Webhook",
      "webhookId": "667d2c80-538b-41aa-ae7a-62dcb1d68690"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        780,
        -40
      ],
      "id": "9f6cd9ed-18f2-48bc-9b99-86bd1fa83109",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a9b04f7c-2c36-4b89-ac44-2d5c9bab28f5",
  "triggerCount": 2,
  "tags": []
}