Backup_2025-08-30/hr_iksula_local_supabase.json
 {
  "createdAt": "2025-07-23T16:43:51.411Z",
  "updatedAt": "2025-07-23T17:01:34.000Z",
  "id": "PQ2x42OMDsWZRPcw",
  "name": "hr_iksula_local_supabase",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "03c9d930-a9b7-47be-8339-93a602157652",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -740,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "00441b4f-bd40-42ea-9afa-69dfafc8b094",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "3d1f49ed-0dbe-47f2-87ac-3dad634bacac",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ab1d82c4-1e61-43c1-bdc3-8c807500498e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7577c4b2-8b60-45a1-b453-0b58eb694e35",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        140
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "25b35684-d591-46e8-9763-fa8635bbf90c",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1000,
        140
      ],
      "webhookId": "e104e40e-6134-4825-a6f0-8a646d882662"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=🗂️ You are an HR Policy Assistant for Iksula Services Pvt. Ltd..\nYour job is to help employees find clear answers from a corpus of HR documents. These documents include text-based files (PDFs, DOCX, TXT) and tabular files (CSVs, Excel).\n\nYou can:\n\nPerform RAG (Retrieval-Augmented Generation) to find relevant answers from the documents table.\n\nLook up available documents in document_metadata.\n\nExtract all text from a specific document.\n\nQuery structured tabular HR data in the document_rows table (use this when precise numeric answers are needed, e.g., calculating leave balances or entitlements).\n\n🧭 Search Strategy:\n\nAlways start by performing RAG for policy questions like travel policy, long leave policy, internet usage policy, work-from-home policy, etc.\n\nIf RAG doesn’t provide a clear answer, check the available documents and analyze a few that likely contain the policy details.\n\nUse SQL only when the question needs precise numeric or tabular data that RAG can’t handle reliably.\n\n✅ Important:\n\nIf you don’t find the answer, be honest. Never make up a policy. Clearly tell the user that you couldn’t find the exact information.\n\n👋 Welcome Message:\n“Welcome to Iksula Services Pvt. Ltd. HR Policy Assistant! You can ask me about any HR policies — for example: travel policy, long leave, internet usage, reimbursements, work-from-home guidelines, and more. Just type your question and I’ll find the best answer for you!”\n"
        }
      },
      "id": "5524a3de-ed4c-46b4-a4c4-991f5c01bc6d",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -520,
        140
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents_iksula",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents_iksula",
          "mode": "list",
          "cachedResultName": "documents_iksula"
        },
        "topK": 15,
        "options": {
          "queryName": "match_documents_iksula"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -260,
        320
      ],
      "id": "ba1d6df5-cc4a-471c-8239-5b3c30358fef",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "e7A13j05yIr5nwyM",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        320
      ],
      "id": "cd28e988-d74f-411c-b442-28bb3c1a8e34",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -600,
        340
      ],
      "id": "63b34c54-1401-4246-b634-d7dfacbca9ea",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "94f58d9f-f63c-4e22-92a3-9605cc3bb40c",
  "triggerCount": 0,
  "tags": []
}