Backup_2025-10-06/ChatBot copy.json
 {
  "createdAt": "2025-06-04T13:28:51.970Z",
  "updatedAt": "2025-07-23T07:12:54.000Z",
  "id": "Z86xCQI2GCeQoVAf",
  "name": "ChatBot copy",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6f28c4d1-5f58-4671-bef8-0ffbeb37f4f1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0569ca7f-f52f-4610-8b54-74ddb89ccaff",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1400,
        -420
      ],
      "webhookId": "6f28c4d1-5f58-4671-bef8-0ffbeb37f4f1"
    },
    {
      "parameters": {
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a helpful customer support agent for Kirloskar Pumps. You can help customers with:\n1. Product inquiries and recommendations\n2. Order history and details\n3. General customer support\n\nContact Information:\n- Toll-Free: 1800-123-4443\n- Address: Kirloskar Brothers Limited, S.No.98(3 to 7), Plot No.3, Baner, Pune 411045, Maharashtra, INDIA\n- Website: https://www.kirloskarpumps.com\n\nUse the available tools to help customers with their queries."
        }
      },
      "id": "c0c582f9-2024-46b7-83c1-e50919b54ca8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        -600,
        -420
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9ae199ab-176a-4b03-ba55-751e3c035487",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -200,
        -340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eshop.kirloskarpumps.com/graphql",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"query\": \"query { categories(filters: { name: { match: default } }) { items { id name url_key level children_count children { id name url_key level } } } }\"\n}",
        "options": {}
      },
      "id": "82ef8426-d071-40f2-b046-f47c9553fb4a",
      "name": "Get Categories API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        -100
      ]
    },
    {
      "parameters": {
        "url": "https://eshop.kirloskarpumps.com/graphql",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "f0abcf01-57db-46ee-8982-e1013cfc5fea",
      "name": "Get Products API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1080,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://eshop.kirloskarpumps.com/graphql",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "035c633e-199c-4cdf-bf63-6adfffd6c808",
      "name": "Authenticate Customer API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://eshop.kirloskarpumps.com/graphql",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer {{ $json.token }}\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "1f9bdf78-5839-4a53-9811-41ae1b62c2f5",
      "name": "Get Order History API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://eshop.kirloskarpumps.com/graphql",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer {{ $json.token }}\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "a0c9cde9-fcfb-431f-8c10-834b6a0a8f6b",
      "name": "Get Order Details API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Process Categories Response\nconst response = $input.first();\n\n// Access the correct path based on your actual structure\nconst responseData = response.json;\n\n// Navigate to the categories data\nconst categoriesData = responseData?.data?.categories?.items;\n\nif (!categoriesData || !Array.isArray(categoriesData) || categoriesData.length === 0) {\n  return {\n    success: false,\n    message: \"No categories found in response\",\n    debug: responseData\n  };\n}\n\n// Get the children array from the first category item\nconst categories = categoriesData[0]?.children || [];\n\n// Extract just the category names as strings\nconst formattedCategories = categories.map(cat => cat.name);\n\nreturn {\n  success: true,\n  data: formattedCategories,\n  message: \"Categories processed successfully\",\n  count: formattedCategories.length\n};"
      },
      "id": "4ef491e9-db6e-445f-9b8b-7b7ccad825c9",
      "name": "Process Categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Products Response\nconst response = $input.first();\nconst products = response.json.data?.products || {};\n\n// Format products for AI agent\nconst formattedProducts = {\n  items: products.items?.map(product => ({\n    id: product.id,\n    name: product.name,\n    sku: product.sku,\n    price: product.price?.regularPrice?.amount?.value || 0,\n    currency: product.price?.regularPrice?.amount?.currency || 'INR',\n    image_url: product.small_image?.url || '',\n    url_key: product.url_key\n  })) || [],\n  total_count: products.total_count || 0\n};\n\nreturn {\n  success: true,\n  data: formattedProducts,\n  message: \"Products fetched successfully\"\n};"
      },
      "id": "b8b00c7b-f548-47f9-9d37-93c3e64ee63c",
      "name": "Process Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Authentication Response\nconst response = $input.first();\nconst authData = response.json.data?.generateCustomerToken || {};\n\nif (authData.token) {\n  return {\n    success: true,\n    data: {\n      token: authData.token,\n      authenticated: true\n    },\n    message: \"Customer authenticated successfully\"\n  };\n} else {\n  return {\n    success: false,\n    data: {\n      authenticated: false\n    },\n    message: \"Authentication failed. Please check your email and password.\"\n  };\n}"
      },
      "id": "2d1f1638-c5b2-4372-a795-493b84dcc370",
      "name": "Process Authentication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Order History Response\nconst response = $input.first();\nconst orderData = response.json.data?.customer?.orders || {};\n\n// Format orders for AI agent\nconst formattedOrders = {\n  items: orderData.items?.map(order => ({\n    id: order.id,\n    number: order.number,\n    order_date: order.order_date,\n    status: order.status,\n    grand_total: order.grand_total,\n    shipping_address: order.shipping_address,\n    items: order.items?.map(item => ({\n      product_name: item.product_name,\n      product_sku: item.product_sku\n    })) || []\n  })) || [],\n  page_info: orderData.page_info || {},\n  total_count: orderData.total_count || 0\n};\n\nreturn {\n  success: true,\n  data: formattedOrders,\n  message: \"Order history fetched successfully\"\n};"
      },
      "id": "e0dd8dcf-1fb1-42d7-8d08-098376158d80",
      "name": "Process Order History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Order Details Response\nconst response = $input.first();\nconst orderDetails = response.json.data?.customer?.orders?.items?.[0] || {};\n\nif (Object.keys(orderDetails).length > 0) {\n  const formattedOrder = {\n    id: orderDetails.id,\n    number: orderDetails.number,\n    order_date: orderDetails.order_date,\n    status: orderDetails.status,\n    grand_total: orderDetails.grand_total,\n    shipping_address: orderDetails.shipping_address,\n    billing_address: orderDetails.billing_address,\n    items: orderDetails.items?.map(item => ({\n      product_name: item.product_name,\n      product_sku: item.product_sku\n    })) || [],\n    payment_methods: orderDetails.payment_methods || []\n  };\n\n  return {\n    success: true,\n    data: formattedOrder,\n    message: \"Order details fetched successfully\"\n  };\n} else {\n  return {\n    success: false,\n    data: {},\n    message: \"Order not found\"\n  };\n}"
      },
      "id": "3ab92410-a733-422d-8fd0-8521f52bc533",
      "name": "Process Order Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"{{ $('AI Agent').item.json.output || 'Response generated successfully' }}\",\n  \"data\": {{ $('AI Agent').item.json.data || '{}' }},\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "9dbbba57-d925-4b05-8efd-f513af992f5a",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.error || 'An error occurred while processing your request' }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "d9c1d1c6-d5a9-4787-9bcb-c6ef0e28bc66",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        340,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Input validation and preprocessing\nconst input = $input.first();\nconst body = input.json.body || {};\n\n// Validate required fields\nif (!body.message) {\n  throw new Error('Message field is required');\n}\n\n// Extract and clean the message\nconst userMessage = body.message.trim();\n\n// Prepare data for AI agent\nreturn {\n  message: userMessage,\n  timestamp: new Date().toISOString(),\n  user_id: body.user_id || 'anonymous',\n  session_id: body.session_id || Math.random().toString(36).substr(2, 9)\n};"
      },
      "id": "bc033f65-4c99-4ee4-8e69-dfe93a5a6006",
      "name": "Input Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        -420
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f026a639-6f86-4802-87d5-fe92d445be46"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "24230a34-703e-4c9e-a090-e7bd5e440416",
      "name": "Error Handler",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        220,
        40
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -820,
        -100
      ],
      "id": "0888b03f-cb2f-4778-baa5-f79453a02730",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "Get Categories API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories API": {
      "main": [
        [
          {
            "node": "Process Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Products API": {
      "main": [
        [
          {
            "node": "Process Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Customer API": {
      "main": [
        [
          {
            "node": "Process Authentication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order History API": {
      "main": [
        [
          {
            "node": "Process Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Details API": {
      "main": [
        [
          {
            "node": "Process Order Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Categories": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Products": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Authentication": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Order History": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Order Details": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "429a295b-351e-4e57-af43-c6a346142918",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-04T13:28:51.976Z",
      "updatedAt": "2025-06-04T13:28:51.976Z",
      "role": "workflow:owner",
      "workflowId": "Z86xCQI2GCeQoVAf",
      "projectId": "dG371lM6unPJd2qz"
    }
  ],
  "tags": []
}