Backup_2025-10-06/iksula_hr_policy.json
 {
  "createdAt": "2025-07-23T07:32:24.364Z",
  "updatedAt": "2025-08-01T06:22:20.000Z",
  "id": "wpQx2Ab7TX889vNx",
  "name": "iksula_hr_policy",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "bed3ee90-1461-4f0f-928f-41477f13a9ae",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -560,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "9e5ee82b-f839-497e-8920-8a89c6f979bd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 867,
        "width": 3073,
        "color": 5
      },
      "id": "666dd0b9-9552-4694-8a54-5e558d9e2cf7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -460,
        1120
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "5e02c7ae-5e0a-4ca9-9d82-d8f2c215d377",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -940,
        35
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee923ca7-a88b-44a3-adc5-b646d59754ce",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        56,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "52361d5d-4dc6-4fb8-9973-8008c2210397",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        140
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=🗂️ You are an HR Policy Assistant for Iksula Services Pvt. Ltd..\nYour job is to help employees find clear answers from a corpus of HR documents. These documents include text-based files (PDFs, DOCX, TXT) and tabular files (CSVs, Excel).\n\nYou can:\n\nPerform RAG (Retrieval-Augmented Generation) to find relevant answers from the documents table.\n\nLook up available documents in document_metadata.\n\nExtract all text from a specific document.\n\nQuery structured tabular HR data in the document_rows table (use this when precise numeric answers are needed, e.g., calculating leave balances or entitlements).\n\n🧭 Search Strategy:\n\nAlways start by performing RAG for policy questions like travel policy, long leave policy, internet usage policy, work-from-home policy, etc.\n\nIf RAG doesn’t provide a clear answer, check the available documents and analyze a few that likely contain the policy details.\n\nUse SQL only when the question needs precise numeric or tabular data that RAG can’t handle reliably.\n\n✅ Important:\n\nIf you don’t find the answer, be honest. Never make up a policy. Clearly tell the user that you couldn’t find the exact information.\n\n👋 Welcome Message:\n“Welcome to Iksula Services Pvt. Ltd. HR Policy Assistant! You can ask me about any HR policies — for example: travel policy, long leave, internet usage, reimbursements, work-from-home guidelines, and more. Just type your question and I’ll find the best answer for you!”\n\n"
        }
      },
      "id": "85ec4d4c-ffef-4229-8db8-15b40235ddb3",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -528,
        140
      ]
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1740,
        220
      ],
      "typeVersion": 1,
      "id": "bcab2a88-6556-435f-b2b9-ac188e31666e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents_iksula",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents_iksula",
          "mode": "list",
          "cachedResultName": "documents_iksula"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents_iksula"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -320,
        362.5
      ],
      "id": "35f3bc14-5d08-4921-9ea8-2296bc172780",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "jK39MwXl63HJbo3V",
          "name": "iksula_hr_doc"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -232,
        560
      ],
      "id": "bb8665a7-2eb4-4aff-9725-498e3bb217ff",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!",
        "height": 1320,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2320,
        80
      ],
      "typeVersion": 1,
      "id": "d153e9de-d456-4332-b867-ea5e4eaf9965",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -440,
        360
      ],
      "id": "995dde14-0c14-41d9-a2fb-da81ab16c173",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nHow can I assist you today with Iksula HR Policies?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1060,
        140
      ],
      "id": "201cd13a-c453-4b4f-a63d-47ee2b0f723a",
      "name": "When chat message received",
      "webhookId": "f32335b9-9a27-434c-9f9a-432f121fcdc8"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2a820825-edc4-4937-88ec-c8bffc8df752",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-23T07:32:24.369Z",
      "updatedAt": "2025-07-23T07:32:24.369Z",
      "role": "workflow:owner",
      "workflowId": "wpQx2Ab7TX889vNx",
      "projectId": "dG371lM6unPJd2qz"
    }
  ],
  "tags": []
}