Backup_2025-10-06/My workflow 43.json
 {
  "createdAt": "2025-09-25T08:35:50.474Z",
  "updatedAt": "2025-10-05T10:12:35.000Z",
  "id": "J6ez8CjPkBcOkhhh",
  "name": "My workflow 43",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.message }} {{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant .\nyou will receive the pdf file from which the text data will be extracted .\nbelow is the extracted data .\n{{ $json.text }} . \nThe user will asks the different questions regarding the pdf file . for that use the above text data extracted from pdf."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        288,
        -176
      ],
      "id": "4af9de02-0ba9-4d7a-b59a-d8ec6293804a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        32
      ],
      "id": "a9a83df8-6b1e-41cc-bd95-e1b3730be62b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uVuI5GtGYr0suRcM",
          "name": "OpenAi account 2 test"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{$json.sessionId}} {{$json.chatId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        32
      ],
      "id": "cf86287f-66c2-4d02-abe9-24b8386d84a0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        -320
      ],
      "id": "aea42bda-dbf0-47d5-a54d-a2a495b308ed",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        -112
      ],
      "id": "01d2f2b0-3855-480c-87fb-da3fef034d68",
      "name": "When chat message received",
      "webhookId": "f5403934-621a-4b52-a2c9-c1c63b0ae00e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee3efb98-608b-4c43-93d9-e23ab509f5cd",
              "leftValue": "={{ $json.files[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3c906c74-14d7-42b1-a0e4-cc82b4f385c4",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        16
      ],
      "id": "6b9da0d0-7f0c-4000-a691-013e78c0142b",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b7f8e674-cdaf-487a-80fb-e3c6be242540"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a135ddfa-5616-4098-9677-9987cd56c049",
                    "leftValue": "={{ $json.files[0] }} and {{ $json.chatInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c552efd3-78e6-43a6-812b-12aed282cc73",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -576,
        -144
      ],
      "id": "296bb8ed-b67c-425e-b0aa-abac91484985",
      "name": "Switch"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4e252e30-a5aa-4db3-bfb8-660993df9e15",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-25T08:35:50.479Z",
      "updatedAt": "2025-09-25T08:35:50.479Z",
      "role": "workflow:owner",
      "workflowId": "J6ez8CjPkBcOkhhh",
      "projectId": "dG371lM6unPJd2qz"
    }
  ],
  "tags": []
}