Backup_2025-10-06/My workflow 22.json
 {
  "createdAt": "2025-06-20T16:00:30.545Z",
  "updatedAt": "2025-06-22T13:41:32.000Z",
  "id": "lo4r7L46kz6pmdY2",
  "name": "My workflow 22",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio-transcription",
        "options": {
          "binaryData": true,
          "binaryPropertyName": "audioFile"
        }
      },
      "id": "3ce0c994-cb82-4451-b209-2f10a24939b6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "audio-transcription-webhook"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audioFile",
        "options": {}
      },
      "id": "ddf50ae6-781f-4f20-8d2c-51e346eb6a4a",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ transcription: $json.text, status: 'success' }) }}",
        "options": {}
      },
      "id": "66e64e92-e44c-4c89-8e85-872d3970e131",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f049eced-0318-4a80-bae6-9df9238713b3",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-20T16:00:30.547Z",
      "updatedAt": "2025-06-20T16:00:30.547Z",
      "role": "workflow:owner",
      "workflowId": "lo4r7L46kz6pmdY2",
      "projectId": "dG371lM6unPJd2qz"
    }
  ],
  "tags": []
}