Backup_2025-10-06/Product Scraping.json
 {
  "createdAt": "2025-05-09T05:59:49.386Z",
  "updatedAt": "2025-05-09T10:20:45.000Z",
  "id": "7YIUCYT4XDB0pMMm",
  "name": "Product Scraping",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        220
      ],
      "id": "0c58f48c-2184-49ee-97c7-97f20a6a4023",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the HTML data of a Google search results page:\n{{ $json.data }}\n\nPlease extract and return only the product page URLs (where users can buy or purchase a product) from the search results.\n\nMake sure to:\n\nInclude only websites where products can be bought or purchased (e.g., eCommerce, marketplace, brand store, retailer).\n\nExclude blog posts, YouTube links, news articles, or generic category pages if possible.\n\nReturn only a JSON array of URLs, like:\n[\n  \"https://www.flipkart.com/xyz\",\n  \"https://www.amazon.in/abc\",\n  \"https://www.nykaafashion.com/pqr\"\n]\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1000,
        20
      ],
      "id": "065dfcc3-9b68-488b-a5d6-5ef2b4c120b9",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contentString = $input.first().json.message.content;\n\nconst jsonArrayMatch = contentString.match(/```json\\s*\\n([\\s\\S]*?)\\n```/);\n\nif (!jsonArrayMatch) {\n  throw new Error('Could not find JSON array in content!');\n}\nconst urlArray = JSON.parse(jsonArrayMatch[1]);\nreturn urlArray.map(url => ({ json: { url } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        220
      ],
      "id": "6cce1b61-26b6-4bdf-89a9-16d88680759e",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -440,
        220
      ],
      "id": "a04afea6-cf12-4ec7-92e8-b9a669c87f20",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a product data extractor.\n\nYou will receive markdown content of a product page. Your task is to extract relevant product attributes and intelligently map them to the appropriate fields — even if exact field names are not used in the content.\n{{ $json.data.markdown }}\n\nInstructions:\n\n- Normalize brand names like \"Bon Tool Co.\", \"Bon Tool Company\" → \"Bon Tool\".\n- For product names like \"Plastic Torpedo Level\", assign:\n  - Item: \"Torpedo Level\"\n  - Type: \"Plastic\"\n- Extract Series if present in product title or SKU (e.g., \"34-149\").\n- Use context and meaning — not just keyword matches — to determine the correct field.\n- If any field is not found, return \"Not Found\".\n\nReturn only the most relevant product if multiple are listed.\n\nReturn the result in this structured JSON format:\n\n[\n  {\n    \"Source URL\": \"\",                          // The original URL where the product info is found (if available)\n    \"Product Brand Name\": \"\",                 // The official brand name (e.g., \"Bon Tool\", \"Pro-Trade\")\n    \"Sub Brand\": \"\",                          // A secondary brand name if mentioned separately (e.g., \"Elite\" in \"Pro-Trade Elite\")\n    \"Item\": \"\",                               // The base product being sold, e.g., \"Turf\", \"Torpedo Level\", \"Saw Blade\"\n    \"Type\": \"\",                               // The material or variant type of the item, e.g., \"Synthetic\", \"Plastic\", \"Steel\"\n    \"Series\": \"\",                             // The model or series code (e.g., \"34-149\", from SKU or name)\n    \"Blade Length\": \"\",                       // Blade size only, usually in inches or mm (e.g., \"2.0 in\", \"50 mm\")\n    \"Blade Type\": \"\",                         // Description of blade type (e.g., \"Jade/Olive Blades\")\n    \"Color\": \"\",                              // Primary color(s) of the product (e.g., \"Green\", \"Jade, Olive\")\n    \"Coverage Area\": \"\",                      // Coverage in square feet/meters (e.g., \"60 sq ft\")\n    \"Cutting Capacity\": \"\",                   // Maximum depth or width the item can cut (in inches or mm)\n    \"Dimensions\": \"\",                         // Overall product dimensions, e.g., \"24 in x 12 in\"\n    \"Face Weight\": \"\",                        // Face weight for turf/fabric products (e.g., \"74 oz.\")\n    \"Handle Color\": \"\",                       // Color of handle if it exists (e.g., \"Red\", \"Black\")\n    \"Handle Length\": \"\",                      // Length of handle in inches or cm\n    \"Handle Material\": \"\",                    // Material of the handle (e.g., \"Wood\", \"Plastic\", \"Aluminum\")\n    \"Handle Type\": \"\",                        // Type/style of handle (e.g., \"Ergonomic\", \"Curved\", \"Straight\")\n    \"Length\": \"\",                             // Length of the product (not blade or handle), in inches or cm\n    \"Material\": \"\",                           // Material used to make the product (e.g., \"Synthetic\", \"Plastic\", \"Steel\")\n    \"Thatching\": \"\",                          // Description of thatching for turf (e.g., \"Green/Brown Thatching\")\n    \"Weight\": \"\",                             // Weight of the entire product, e.g., \"6.25 lb.\"\n    \"Unbranded\": \"\"                           // TRUE if no brand is found, otherwise FALSE\n  }\n]\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "d2e33a09-49b0-491a-a280-704ac7095122",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fd90e57-3274-4717-858d-aca63710060b",
              "name": "Product",
              "value": "Pro-Trade Elite Synthetic Turf 74 oz. Face Weight/100 oz. Total Weight 2.0\" Jade/Olive Blades - Green/Brown Thatching- SAMPLE",
              "type": "string"
            },
            {
              "id": "91ed5638-9f2d-4d0e-9258-752fc13658c3",
              "name": "ItemNumber",
              "value": "PT-TURF1-74-2.0-SAMPLE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1340,
        220
      ],
      "id": "2bd1e510-a538-4381-84d1-a5c157e880e3",
      "name": "Set Search Query"
    },
    {
      "parameters": {
        "url": "https://api.scraperapi.com",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "ec22d3fd18c0726452e7f27cf8287cb4"
            },
            {
              "name": "url",
              "value": "=https://www.google.com/search?q={{ $json.Product }} {{ $json.ItemNumber }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1160,
        220
      ],
      "id": "098851d9-338e-4adf-b06f-48a43202a8e9",
      "name": "Google Search"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.message.content;\n\nconst match = text.match(/```json\\s*([\\s\\S]*?)```/);\nlet arr = [];\nif (match) {\n  arr = JSON.parse(match[1].trim());\n} else {\n  // fallback if not wrapped in code block\n  arr = JSON.parse(text);\n}\n\n// Output: Each product as a separate item for tables, or use for HTML Table/Spreadsheet\nreturn arr.map(product => ({ json: product }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        240
      ],
      "id": "8076c5ab-abfe-4719-aaa2-59556a1840d8",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15Fg5wi8X1Y5qgx7OGps3Y6R5B3pn7pv2ZJKBfcgCGso",
          "mode": "list",
          "cachedResultName": "Products Testing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15Fg5wi8X1Y5qgx7OGps3Y6R5B3pn7pv2ZJKBfcgCGso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 15761022,
          "mode": "list",
          "cachedResultName": "Pro-Trade Elite Synthetic Turf 74 oz. Face Weight/100 oz. Total Weight 2.0\"",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15Fg5wi8X1Y5qgx7OGps3Y6R5B3pn7pv2ZJKBfcgCGso/edit#gid=15761022"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Brand Name",
              "displayName": "Product Brand Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub Brand",
              "displayName": "Sub Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Series",
              "displayName": "Series",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blade Length",
              "displayName": "Blade Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blade Type",
              "displayName": "Blade Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Color",
              "displayName": "Color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coverage Area",
              "displayName": "Coverage Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cutting Capacity",
              "displayName": "Cutting Capacity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dimensions",
              "displayName": "Dimensions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Face Weight",
              "displayName": "Face Weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Handle Color",
              "displayName": "Handle Color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Handle Length",
              "displayName": "Handle Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Handle Material",
              "displayName": "Handle Material",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Handle Type",
              "displayName": "Handle Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Length",
              "displayName": "Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Material",
              "displayName": "Material",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thatching",
              "displayName": "Thatching",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weight",
              "displayName": "Weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unbranded",
              "displayName": "Unbranded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Green",
              "displayName": "Green",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yellow",
              "displayName": "Yellow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Red",
              "displayName": "Red",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        240
      ],
      "id": "3082530e-3923-4f25-bb8c-f163b883cbc6",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\"markdown\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        220
      ],
      "id": "12a3a3c0-d9d7-4917-85b7-161561bd13e2",
      "name": "Firecrawl API1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Firecrawl API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Query": {
      "main": [
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl API1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "b8596eb4-257b-4c11-b9c4-e4f48afcda7d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-05-09T05:59:49.391Z",
      "updatedAt": "2025-05-09T05:59:49.391Z",
      "role": "workflow:owner",
      "workflowId": "7YIUCYT4XDB0pMMm",
      "projectId": "dG371lM6unPJd2qz"
    }
  ],
  "tags": []
}