Backup_2025-10-03/bright data scraping.json
 {
  "createdAt": "2025-06-02T06:12:26.884Z",
  "updatedAt": "2025-08-20T13:54:56.000Z",
  "id": "Ss8JWzcnFOMHYhkP",
  "name": "bright data scraping",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        -60
      ],
      "id": "0c86f28d-5c81-473f-a8f8-b8e3ba2c4daa",
      "name": "When chat message received",
      "webhookId": "7da0ade1-4d03-43be-87e3-d12eb8ef355d"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert webscraping agent that has an access to Bright Data's Web Unlocker API which will enable you to complete specefic set of actions and have access to key tools. When you are executing the tool you must share across the exact name of the tool for it to be executed.\nfor example :- \"Search Engine Scraping\" should be \"search_engine\" \n\nToday is {{$now.format('cccc')}} the {{$now.format('yyyy-MM-dd HH:mm')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        152,
        -60
      ],
      "id": "0bcf03f4-bd32-46c6-aec6-9076a8c2ea18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        160
      ],
      "id": "9a5e6d24-d390-4e3b-902e-e7875f6f7999",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "opkNg3RQ0U03w9cG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        180
      ],
      "id": "a0f1fb92-784e-4540-bc93-299399cf2836",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -360,
        160
      ],
      "id": "d988be4d-c34f-410e-a4ec-85f01e4e988f",
      "name": "MCP Client",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "$fromAI('toolname', 'Select exactly one tool name from the following list that best fits the user\\'s request. Only return the tool name, no extra text:\\n\\nsearch_engine, scrape_as_markdown, scrape_as_html, session_stats, web_data_amazon_product, web_data_amazon_product_reviews, web_data_amazon_product_search, web_data_walmart_product, web_data_walmart_seller, web_data_ebay_product, web_data_homedepot_products, web_data_zara_products, web_data_etsy_products, web_data_bestbuy_products, web_data_linkedin_person_profile, web_data_linkedin_company_profile, web_data_linkedin_job_listings, web_data_linkedin_posts, web_data_linkedin_people_search, web_data_crunchbase_company, web_data_zoominfo_company_profile, web_data_instagram_profiles, web_data_instagram_posts, web_data_instagram_reels, web_data_instagram_comments, web_data_facebook_posts, web_data_facebook_marketplace_listings, web_data_facebook_company_reviews, web_data_facebook_events, web_data_tiktok_profiles, web_data_tiktok_posts, web_data_tiktok_shop, web_data_tiktok_comments, web_data_google_maps_reviews, web_data_google_shopping, web_data_google_play_store, web_data_apple_app_store, web_data_reuter_news, web_data_github_repository_file, web_data_yahoo_finance_business, web_data_x_posts, web_data_zillow_properties_listing, web_data_booking_hotel_listings, web_data_youtube_profiles, web_data_youtube_comments, web_data_reddit_posts, web_data_youtube_videos, scraping_browser_activation_instructions', 'string')",
        "toolParameters": "={\n  \"query\": \"{{ $json.chatInput }}\",\n  \"engine\": \"{{ $fromAI('searchengine', 'Choose only between \\\"google\\\" or \\\"bing\\\" based on what is more suitable for the user\\'s query. Return only \\\"google\\\" or \\\"bing\\\".', 'string') }}\"\n}\n\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -620,
        100
      ],
      "id": "4994c77f-47ce-4f4e-8f00-278f2309ddc3",
      "name": "Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "iiIT9A0MiVVJfXp7",
          "name": "MCP Client (STDIO) account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        240,
        200
      ],
      "id": "cd74274c-8364-486f-aa6b-d0653be14993",
      "name": "list out all the tools",
      "credentials": {
        "mcpClientApi": {
          "id": "iiIT9A0MiVVJfXp7",
          "name": "MCP Client (STDIO) account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "search_engine",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        400,
        180
      ],
      "id": "f695e59d-77e8-43cd-b080-62d79a58f6f2",
      "name": "MCP Client1",
      "credentials": {
        "mcpClientApi": {
          "id": "gmXDG4bmY4wSpZg6",
          "name": "MCP Client (STDIO) account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=web_data_amazon_product",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        540,
        180
      ],
      "id": "145615f0-8c1b-437c-b9be-3ce63834888f",
      "name": "MCP Client2",
      "credentials": {
        "mcpClientApi": {
          "id": "gmXDG4bmY4wSpZg6",
          "name": "MCP Client (STDIO) account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "scrape_as_markdown",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        720,
        160
      ],
      "id": "da12b5b9-1d07-4468-9aab-767967041504",
      "name": "MCP Client3",
      "credentials": {
        "mcpClientApi": {
          "id": "gmXDG4bmY4wSpZg6",
          "name": "MCP Client (STDIO) account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        []
      ]
    },
    "Execute Tool": {
      "ai_tool": [
        []
      ]
    },
    "list out all the tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a0f1e491-4ef0-4f79-83d6-05acd3ec4250",
  "triggerCount": 1,
  "tags": []
}