Backup_2025-10-03/My workflow 43.json
 {
  "createdAt": "2025-09-25T08:35:50.474Z",
  "updatedAt": "2025-10-03T05:45:47.000Z",
  "id": "J6ez8CjPkBcOkhhh",
  "name": "My workflow 43",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.message }} {{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant. \nyou will receive the data as given below .   \n{{ $json.text }} . \nplease explain it according to the user message ."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        60,
        -80
      ],
      "id": "4af9de02-0ba9-4d7a-b59a-d8ec6293804a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        120
      ],
      "id": "a9a83df8-6b1e-41cc-bd95-e1b3730be62b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uVuI5GtGYr0suRcM",
          "name": "OpenAi account 2 test"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{$json.sessionId}} {{$json.chatId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        60,
        140
      ],
      "id": "cf86287f-66c2-4d02-abe9-24b8386d84a0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -260,
        -80
      ],
      "id": "aea42bda-dbf0-47d5-a54d-a2a495b308ed",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        -80
      ],
      "id": "01d2f2b0-3855-480c-87fb-da3fef034d68",
      "name": "When chat message received",
      "webhookId": "f5403934-621a-4b52-a2c9-c1c63b0ae00e"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        -80
      ],
      "id": "42c14c19-56c8-44ee-85b5-1691b021e8a1",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a511fb77-4b35-4e07-9bc7-4247847bcbe7",
  "triggerCount": 1,
  "tags": []
}